@{
    ViewData["Title"] = "About Joel";
}
<div>
    <ul>
        <li><a href="https://www.qwcomedy.com/">QuickWits Comedy</a></li>
        <li><a href="https://baconsale.com/">Baconsale Podcast</a></li>
    </ul>
</div>
<div class="text-center">
    <h1 class="display-4">About Joel</h1>
    <p>Joel is so into film that he minored in Film Studies at BYU, contracts as a movie reviewer for
        ClearPlay, and does a weekly podcast about films & pop culture called Baconsale.</p>
    <img src="/Images/BaconsaleKate.jpg" href="https://baconsale.com/" alt="Joel with Kate Baconsale">
</div>